<!DOCTYPE html>
<html>
  <head>
    <title>Alfa Gestão</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>ALFA GESTÃO</h1>
    <p>Bem-vindo</p>
  </body>
</html>
